@if (TempData["info"] is not null)
{
    <div class="aler aler-info my-3" role="alert">
        @TempData["info"]
    </div>
}

@if (TempData["success"] is not null)
{
    <div class="aler aler-success my-3" role="alert">
        @TempData["success"]
    </div>
}

@if (TempData["danger"] is not null)
{
    <div class="aler aler-danger my-3" role="alert">
        @TempData["danger"]
    </div>
}